
{% extends 'wagtailadmin/base.html' %}
{% block content %}

    <header class="">
        <div class="row nice-padding">
            <div class="left">
                <div class="col header-title">
                    <h1 class="icon icon-user">RSS Update</h1>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </header>


    <h2>Article</h2>
    <div class="nice-padding">

        {% for f in entries %}
            <section>
            <h2> {{ f.title }}</h2>
                {{ f.content|safe }}
            </section>
        {% endfor %}
    </div>
    <h2>Mettre à jour</h2>
<form method="post" action="/update/">
  {% csrf_token %}
  <div class="submit-row">
  <input type="submit" class="button" name="update_now" value="Mettre à jour">
  </div>
</form>
{% endblock content %}
